/* LOADING */
body.loading:before{
    content: "";
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(255,255,255,0.9);
    z-index: 99998;
}
body.loading:after{
    content: "";
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height:50px;
    border:2px solid #187FE0;
    border-top:2px solid transparent;
    border-radius: 50%;
    z-index: 99999;
    animation:preload .6s linear infinite;
}
@keyframes preload{
    0%{
        transform: translate(-50%,-50%) rotate(0deg)
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.bg-vertical-center {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.sosmed-mobile {
    height: 65px;
    background-color: #008080; 
    margin-top: 20%;
    border-radius: 20px;
}
.sosmed-mobile li a img {
    height: 40px;
}

.line-charts {
    margin-bottom: 30px;
    margin-top: 20px;
}

/* Devices Desktop */
@media (min-width: 1200px){
    header{
        height: 67px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
        position: sticky;
        position: -webkit-sticky;
        top:0;
        z-index: 999;
    }
    .container-card {
        width: 40%;
    }
    header .searchform {
        /* border: 3px solid #002855; */
        border-radius: 20px;
        margin-left: 40px;
        width: 40%;
    }
    header .searchbar {
        width: 40%;
        margin-left: 40px;
    }    
    header .navbar{
        padding:14px!important;
    }
    header .navbar .navbar-brand{
        position: relative;
        top:auto;
        left:auto;
    }
    header .navbar .container{
        justify-content: flex-start;
    }
    header .navbar .navbar-nav a.nav-link{
        padding:15px!important;
        line-height: unset!important;
    }
    header .navbar .navbar-nav a.nav-link .badge{
        margin-top:-10px!important;
    }
    .navbar .navbar-brand img{
        height: 50px!important;
        width: auto!important;
    }
    .navbar .navbar-brand {
        float: left;
        outline: none;
        margin:0;
        padding:0;
        position: absolute;
        bottom: 5px;
    }
    /* Logo Bisapay */
    .inner-card .bisapay img{
        height: 30px!important;
        width: auto!important;
        margin-top: 5px;
    }
    .category-card{
        border-radius:20px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        background-color:#FFFFFF;
        margin-bottom: 50px;
        margin-left: 10px;
    }
    .thumb-container img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        display: block;
    }
    .thumb-container h6{
        width: 6rem;
        text-align: center;
    }
    .other-category img {
        object-fit: cover;
        display: block;
    }
    .category_product{
        padding: 20px;
    }
    .circle{
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        width: 90px;
        height: 90px;
        margin: 20px 15px 0 10px;
    } 
    .custom-text-category {
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
    }
    .view-more {
        margin-top: 90px;
        margin-left: 10px;
        color: #000000;
        font-family: Roboto;
        font-size: 22px;
    }
    .swiper-slide h6 {
        text-align: left; 
        font-weight: bold; 
        font-size: 25px; 
        color: #000000;
        margin-bottom: 20px;
    }
    .swiper-slide h1 {
        text-align: left; 
        font-weight: normal; 
        font-size: 20px; 
        color: #000000;
    }
    .card-content img{
        display: block;
        width: 115%;
        height: 100%;
        object-fit: fill;
    }
    .card-text{
        color: #008080;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 80px;
    }
    .text-headline {
        color: #000000;
        font-weight: 700;
        font-size: 30px;
        margin-left: 20px; 
        margin-bottom: 15px;
        font-family: 'Poppins';
    }
    .text-detail {
        color: #000000;
        font-weight: bold;
        font-size: 35px;
    }
    .see-more{
        color: #0E6E83;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-family: Roboto;
    }
    .bundle-content h4{
        color: #000000;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        margin-top: 10px;
    }
    .card-health {
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 32px;
        box-shadow: 0px 2px 2px 2px rgba(0, 128, 128, 0.1);
        padding: 3px;
    }
    .text-box {
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        font-family: 'Poppins';
        margin-top: 15px;
        text-align: center;
    }
    .text-anchor{
        color: #008080;
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }
    .card-swiper{
        padding-bottom: 30px;
        margin-top: 10px;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-text {
        text-align: left; 
        font-weight: normal; 
        font-size: 20px; 
        color: #000000;
    }
    .after-discount {
        text-align: left; 
        font-weight: bold; 
        font-size: 25px; 
        color:#000000;
    }
    .before-discount{
        text-align: left;
        font-weight: normal;
        font-size: 17px; 
        color: #9295A6;
    }
    .card-img-top {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px
    }
    .swiper-text{
        text-align: left; 
        font-weight: bold;
        font-size: 28px; 
        color: #000000;
    }
    a.filled-button, button.filled-button{
        background-color: #008080;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
        display: inline-block;
        transition: all 0.3s;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    a.filled-button:hover, button.filled-button:hover  {
        background-color: #0E6E83;
        color: #fff;
    }
    .card-health img {
        width:65px!important; 
        height:65px!important; 
        display: block!important;
        margin-top: 30px!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .number {
        font-weight: 700;
        color: #000000;
        font-size: 20px; 
        font-style: normal;
        margin-left: 20px;
        text-align: left;
        font-family: 'Poppins';
    }
    .desc {
        font-size: 16px; 
        font-weight: 700;
        font-style: normal;
        margin-left: 20px;
        text-align: left;
        font-family: 'Poppins';
    }
    .card-health h5 {
        font-size: 20px; 
        font-style: normal;
        font-weight: 700;
        margin-left: 20px;
        font-family: 'Poppins';
    }
    .card-article {
        box-shadow: 0px 2px 2px 2px rgba(0, 128, 128, 0.1)!important; 
        border-radius: 16px!important; 
        background-color: #ffffff!important; 
        width: 90%; 
        height: 400px;
        padding: 20px!important;
        margin-left: 30px!important;
        margin-bottom: 5px;
    }
    .card-voucher {
        background-color:#008080;
        border-radius: 10px;
        width: 250px;
        height: 85px;
    }
    .description-health {
        border-radius: 16px; 
        background-color: #EFF8FF; 
        width: 220px; 
        margin-top: 50px; 
        margin-bottom: 25px;
        margin-left: 15px;
    }
    .voucher {
        padding-bottom: 10px; 
        margin-left: 100px; 
        margin-top: 20px;
    }
    .voucher-title h2 {
        text-align: left; 
        font-weight: bold; 
        font-size: 20px; 
        color: #ffffff;
    }
    .voucher-price h3 {
        text-align: left; 
        font-weight: bold; 
        font-size: 18px; 
        color: #ffffff;
    }
    .border-card {
        border-radius: 10px; 
        margin-left:2px; 
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }    
    .g-signin2{
        margin-left: 160px;
        margin-top: 15px;
    }
    .card-box {
        display: flex;
        justify-content: center;
        font-family: 'Poppins';
        column-gap: 40px;
    }
    .health {
        background-color: #87d7bf; 
        width: 35%;
        border-radius: 25px;
        margin-top: 20px;
    }
    .health h4 {
        color: #ffffff;
        padding: 35px; 
        font-weight: bold;
        display: flex;
        justify-content: start;
    }
    .ecommerce {
        background-color: #008080; 
        width: 35%;
        border-radius: 25px;
        margin-top: 20px;
    }
    .ecommerce h4 {
        color: #ffffff;
        padding: 35px; 
        font-weight: bold;
        display: flex;
        justify-content: start;
    }  
    .text-greeting h4 {
        font-family: 'Poppins';
        font-weight: bold;
    }
    .text-content h5 {
        font-family: 'Poppins';
        font-weight: normal;
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
    }
    .btn-circle {
        border-radius: 100%; 
        width: 7px; 
        height: 29px;
        margin-top: 12px;
        margin-right: 15px;
    }
    .nav-tab > a.active {
        background-color: #008080 !important;
        color: #ffffff !important;
    }
    
    .nav-tab > a {
        background-color: #ffffff !important;
        color: #008080 !important;
        border-radius: 28px;
        box-shadow: 0px 2px 1px rgba(0, 128, 128, 0.1);
        font-weight: 700;
    }
    
    .nav-tab > a:hover {
        border-radius: 28px;
    }

    .medical-record {
        margin-top: 90px;
    }

    .article-date {
        font-size: 18px;
        font-family: 'Poppins';
    }
    
}

/* Devices Ipad */
@media (max-width: 1024px){
    header{
        height: 75px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
        position: sticky;
        position: -webkit-sticky;
        top:0;
        z-index: 999;
        border-radius: 0 0 25px 25px;
    }
    .navbar .navbar-brand img{
        height: 20px!important;
        width: auto!important;
    }
    .container-card {
        width: 50%;
    }
    .navbar .navbar-brand {
        float: left;
        outline: none;
        margin:0;
        padding:0;
        position: absolute;
        left: 10px;
    }

    .inner-card .bisapay img{
        height: 22px!important;
        width: auto!important;
        margin-top: 5px;
    }    

    header .searchform {
        width: 50%;
        float: left;
        padding-top: 20px;
        margin-left: 20px;
    }

    header .searchbar {
        width: 50%;
        float: left;
        padding-top: 20px;
        margin-left: 20px;
    }   

    .payment-confirmation-btn {
        width: 100%;
    }

    .payment-confirmation-img {
        width: 100%;
    }

    .reconfirm-payment-btn {
        width: 100%;
    }
    .category-card{
        border-radius:15px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        background-color:#FFFFFF;
        margin-bottom: 40px;
        margin-left: 10px;
    }
    .thumb-container img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        display: block;
    }
    .thumb-container h6{
        width: 4rem;
        text-align: center;
    }
    .other-category img {
        object-fit: cover;
        display: block;
    }
    .category_product{
        padding: 8px;  
    }
    .bundle-content h4{
        color: #000000;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
    .circle{
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 70px;
        padding-right: 20px;
    } 
    .round{
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        background-color: #fff;
        width: 50px;
        height: 50px;
        margin: 15px 10px 0 0;
    } 
    .custom-text-category {
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
    }
    .view-more {
        margin-top: 70px;
        margin-left: 17px;
        color: #000000 !important;
        font-family: Roboto;
        font-size: 15px;
    }
    .swiper-slide h6 {
        text-align: left; 
        font-weight: bold; 
        font-size: 20px; 
        color: #000000;
        margin-bottom: 20px;
    }
    .swiper-slide h1 {
        text-align: left; 
        font-weight: normal; 
        font-size: 18px; 
        color: #000000;
    }
    .card-content img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .card-text{
        color: #008080;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
    }
    .text-headline {
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        margin-left: 10px;
        font-family: 'Poppins';
    }
    .text-detail {
        color: #000000;
        font-weight: bold;
        font-size: 22px;
    }
    .text-anchor{
        color: #008080;
        font-size: 15px;
        font-weight: bold;
    }
    .card-swiper{
        margin-top: 20px;
        margin-left: 5px;
    }
    .swiper {
        width: 100%;
        height: 200%;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-left: 0px;
    }
    .product-text {
        text-align: left; 
        font-weight: normal; 
        font-size: 18px; 
        color: #000000;
    }
    .after-discount {
        text-align: left; 
        font-weight: bold; 
        font-size: 20px; 
        color: #000000;
    }
    .before-discount {
        text-align: left;
        font-weight: normal;
        font-size: 18px;
        color: #9295A6;
    }

    .card-img-top {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px
    }
    .swiper-text{
        text-align: left; 
        font-weight: bold;
        font-size: 20px; 
        color: #000000;
    }
    .swiper-content {
        margin-left: 12px;
    }
    a.filled-button, button.filled-button{
        background-color: #008080;
        color: #fff;
        font-weight: 600;
        display: inline-block;
        transition: all 0.3s;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    a.filled-button:hover, button.filled-button:hover  {
        background-color: #0E6E83;
        color: #fff;
    }
    .card-health {
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 32px;
        box-shadow: 0px 2px 2px 2px rgba(0, 128, 128, 0.1);
        width: 90%;
    }
    .text-box {
        color: #000000;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        font-family: 'Poppins';
        margin-top: 15px;
        text-align: center;
    }
    .card-health img {
        width:50px!important; 
        height:50px!important; 
        display: block!important;
        margin-top: 20px!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .number {
        font-weight: 700;
        color: #000000;
        font-size: 18px; 
        font-style: normal;
        margin-left: 20px;
        text-align: left;
        font-family: 'Poppins';
    }
    .desc {
        font-size: 15px; 
        font-weight: 700;
        font-style: normal;
        margin-left: 20px;
        text-align: left;
        font-family: 'Poppins';
    }
    .description-health {
        border-radius: 16px; 
        background-color: #EFF8FF; 
        width: 200px; 
        margin-top: 30px; 
        margin-bottom: 25px;
    }
    .card-health h5 {
        font-size: 15px; 
        font-weight: bold;
        font-family: 'Poppins';
    }
    .card-article {
        box-shadow: 0px 2px 2px 2px rgba(0, 128, 128, 0.1); 
        border-radius: 16px; 
        background-color: #ffffff; 
        width: 80%; 
        height: 40%;
        padding: 20px;
        margin-left: 30px;
    }
    .card-voucher {
        background-color:#008080;
        border-radius: 10px;
        width: 170px;
        height: 80px;
    }
    .voucher {
        padding-bottom: 10px; 
        margin-left: 50px; 
        margin-top: 20px;
    }
    .voucher-title h2 {
        text-align: left; 
        font-weight: bold; 
        font-size: 15px; 
        color: #ffffff;
    }
    .voucher-price h3 {
        text-align: left; 
        font-weight: bold; 
        font-size: 14px; 
        color: #ffffff;
    }
    .border-card {
        border-radius: 10px; 
        margin-left:2px; 
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }    
    .health h4 {
        margin-top: 20px; 
        padding:25px; 
        background-color: #87d7bf; 
        color: #ffffff; 
        font-family: Roboto;
        font-weight: bold;
        width:45%; 
        border-radius: 20px 0px 20px 0px;
        display: flex;
        justify-content: start;
    } 
    .ecommerce h4 {
        margin-top: 20px; 
        padding:25px; 
        background-color: #008080; 
        color: #ffffff; 
        font-family: Roboto;
        font-weight: bold;
        width:45%; 
        border-radius: 20px 0px 20px 0px; 
        display: flex;
        justify-content: start;
    }
    .text-greeting h4 {
        font-family: 'Poppins';
        font-weight: bold;
    }
    .text-content h5 {
        font-family: 'Poppins';
        font-weight: normal;
        margin-top: 40px;
    }
    .btn-circle {
        border-radius: 100%; 
        width: 7px; 
        height: 25px;
        margin-top: 12px;
        margin-right: 5px;
    }
    .nav-tab > a.active {
        background-color: #008080 !important;
        color: #ffffff !important;
    }
    
    .nav-tab > a {
        background-color: #ffffff !important;
        color: #008080 !important;
        border-radius: 28px;
        box-shadow: 0px 2px 1px rgba(0, 128, 128, 0.1);
        font-weight: 700;
    }
    
    .nav-tab > a:hover {
        border-radius: 28px;
    }
    
    .medical-record {
        margin-top: 40px;
    }

    .article-date {
        font-size: 18px;
        font-family: 'Poppins';
    }
  
}

/* Devices Mobile */
@media (max-width: 480px){
    header{
        height: 65px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
        position: sticky;
        position: -webkit-sticky;
        top:0;
        z-index: 999;
        border-radius: 0 0 25px 25px;
    }
    .container-card {
        width: 90%;
    }
    .navbar .navbar-brand {
        float: left;
        outline: none;
        margin:0;
        padding:0;
        position: absolute;
        top: 15px;
    }

    .inner-card .bisapay img{
        height: 22px!important;
        width: auto!important;
        margin-top: 5px;
    }    

    header .searchform {
        width: 60%;
        float: left;
        padding-top: 15px;
        margin-left: 20px;
    }

    header .searchbar {
        width: 60%;
        float: left;
        padding-top: 15px;
        margin-left: 65px;
    }

    .payment-confirmation-btn {
        width: 100%;
    }

    .payment-confirmation-img {
        width: 100%;
    }

    .reconfirm-payment-btn {
        width: 100%;
    }
    .category-card{
        border-radius:15px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        background-color:#FFFFFF;
        margin-bottom: 40px;
        margin-right: 10px;
    }
    .thumb-container img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        display: block;
    }
    .thumb-container h6{
        width: 4rem;
        text-align: center;
    }
    .other-category img {
        object-fit: cover;
        display: block;
    }
    .category_product{
        padding: 8px;
    }
    .bundle-content h4{
        color: #000000;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        margin-top: 5px;
    }
    .circle{
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 70px;
        padding-right: 20px;
    } 
    .round{
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 50%;
        background-color: #fff;
        width: 50px;
        height: 50px;
        margin: 15px 10px 0 0;
    } 
    .custom-text-category {
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
    }
    .view-more {
        margin-top: 68px;
        margin-left: 17px;
        color: #000000 !important;
        font-family: Roboto;
        font-size: 15px;
    }
    .swiper-slide h6 {
        text-align: left; 
        font-weight: bold; 
        font-size: 18px; 
        color: #000000;
        margin-bottom: 20px;
    }
    .swiper-slide h1 {
        text-align: left; 
        font-weight: normal; 
        font-size: 16px; 
        color: #000000;
    }
    .card-content img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .card-text{
        color: #008080;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
    }
    .text-headline {
        color: #000000;
        font-weight: 700;
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        font-family: 'Poppins';
    }
    .text-detail {
        color: #000000;
        font-weight: bold;
        font-size: 20px;
    }
    .text-anchor{
        color: #008080;
        font-size: 15px;
        font-weight: bold;
        margin-top: 3px;
    }
    .card-swiper{
        margin-left: 5px;
        margin-top: 10px;
    }
    .swiper {
        width: 100%;
        height: 200%;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-left: 0px;
    }
    .product-text {
        text-align: left; 
        font-weight: normal; 
        font-size: 15px; 
        color: #000000;
    }
    .after-discount {
        text-align: left; 
        font-weight: bold; 
        font-size: 18px; 
        color: #000000;
    }
    .before-discount {
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        color: #9295A6;
    }

    .card-img-top {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px
    }
    .swiper-text{
        text-align: left; 
        font-weight: bold;
        font-size: 20px; 
        color: #000000;
    }
    .swiper-content {
        margin-left: 12px;
    }
    a.filled-button, button.filled-button{
        background-color: #008080;
        color: #fff;
        font-weight: 600;
        display: inline-block;
        transition: all 0.3s;
        margin-left: 10px;
        padding: 7px;
    }
    
    a.filled-button:hover, button.filled-button:hover  {
        background-color: #0E6E83;
        color: #fff;
    }
    .card-health {
        border-radius: 28px;
        box-shadow: 0px 2px 2px 1px rgba(0, 128, 128, 0.1);
        text-align: center;
        height: 85%;
    }
    .card-article {
        box-shadow: 0px 2px 2px 2px rgba(0, 128, 128, 0.1); 
        border-radius: 16px; 
        background-color: #ffffff; 
        padding: 15px;
        margin-left: 20px;
        margin-bottom: 3px;
        height: 370px;
    }
    .text-box {
        margin-top: 10px;
        color: #000000;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-family: 'Poppins';
    }
    .card-health img {
        width:60px; 
        height:60px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
    .description-health {
        border-radius: 16px; 
        background-color: #EFF8FF; 
        width: 100%; 
        margin-top: 20px; 
        margin-bottom: 10px;
    }
    .number {
        color: #000000;
        font-size: 12px; 
        font-weight: 700;
        font-style: normal;
        text-align: left;
        margin-left: 15px;
        font-family: 'Poppins';
    }
    .desc {
        font-size: 12px; 
        font-weight: 700;
        font-style: normal;
        text-align: left;
        margin-left: 15px;
        font-family: 'Poppins';
    }
    .card-health h5 {
        margin-top: 30px; 
        font-size: 15px; 
        font-weight: bold;
        font-family: 'Poppins';
    }
    .card-voucher {
        background-color:#008080;
        border-radius: 10px;
        width: 170px;
        height: 80px;
    }
    .voucher {
        padding-bottom: 10px; 
        margin-left: 20px; 
        margin-top: 20px;
    }
    .voucher-title h2 {
        text-align: left; 
        font-weight: bold; 
        font-size: 15px; 
        color: #ffffff;
    }
    .voucher-price h3 {
        text-align: left; 
        font-weight: bold; 
        font-size: 14px; 
        color: #ffffff;
    }
    .border-card {
        border-radius: 10px; 
        margin-left:10px; 
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }
    .g-signin2{
        margin-left: 85px;
        margin-top: 15px;
    }
    .health {
        background-color: #87d7bf; 
        border-radius: 20px;
        margin-top: 20px;
    }
    .health h4 {
        padding: 25px; 
        color: #ffffff; 
        font-family: Roboto;
        font-weight: bold;
        display: flex;
        justify-content: start;
    }  
    .ecommerce {
        background-color: #008080; 
        width: 100%;
        border-radius: 20px;
        margin-top: 20px;
    }
    .ecommerce h4 {
        padding: 25px; 
        color: #ffffff; 
        font-family: Roboto;
        font-weight: bold;
        display: flex;
        justify-content: start;
    }  
    .text-greeting h4 {
        font-family: 'Poppins';
        font-weight: bold;
    }
    .text-content h5 {
        font-family: 'Poppins';
        font-weight: normal;
        font-size: 18px;
        margin-top: 20px;
    }
    .btn-circle {
        width: 20px; 
        height: 20px; 
        padding: 6px 0px; 
        border-radius: 15px; 
        font-size: 8px; 
        margin-top: 7px; 
        margin-right: 10px;
    }

    .nav-tab > a.active {
        background-color: #008080 !important;
        color: #ffffff !important;
    }
    
    .nav-tab > a {
        background-color: #ffffff !important;
        color: #008080 !important;
        border-radius: 28px;
        box-shadow: 0px 2px 1px rgba(0, 128, 128, 0.1);
        font-weight: 700;
        font-size: 12px;
        font-style: normal;
        text-align: center;
    }
    
    .nav-tab > a:hover {
        border-radius: 28px;
    }

    .article-date {
        font-size: 12px;
        font-family: 'Poppins';
    }
  
}


.owl-product .owl-dots .owl-dot{
	background-color: #ddd;
}
.decrease-value,
.increase-value{
	cursor: pointer;
}
.decrease-value:hover .input-group-text,
.increase-value:hover .input-group-text{
	background-color: #ccc;
}
/*FAST SELECT BOOTSTRAP FIX CSS*/
.form-group .fstMultipleMode .fstQueryInput,
.form-group .fstSingleMode .fstQueryInput,
.form-group .fstResultItem,
.form-group .fstChoiceItem,
.form-group .fstToggleBtn,
.form-group .fstNoResults
{
    font-size: .875rem;
}
.form-group .fstElement{
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #495057;
    transition: all .15s ease-in-out;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
.form-group .fstToggleBtn{
    padding: .625rem .75rem;
    height: calc(1.5em + 1.25rem + 5px);
    transition: all .15s ease-in-out;
    display: flex;
    align-items: center;
}

.form-group .fstElement,
.fstSingleMode .fstQueryInput{
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
.fstLoading:before{
    content: "";
    background-image: url(../images/loader.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 20px;
    margin-top: 13px;
    margin-left: 15px;
}
label.error{
    color: #f33f3f !important;
}
.custom-radio.custom-control-inline label.error{
    position: absolute;
    width: 800px;
    margin-top: 24px;
    margin-left: -24px;
}
.form-group.error .custom-radio.custom-control-inline:last-child :after{
    height: 24px;
    position: relative;
}
.form-group.error .gj-datepicker label.error{
    position: absolute;
    margin-top: 40px;
}
.form-group.error .gj-datepicker:after{
    content: "";
    height: 24px;
    width: 100%;
}
.form-group.error .input-group label.error{
    position: absolute;
    margin-top: 38px;
}
.form-group.error .input-group{
    margin-bottom: 38px !important;
}
#member-nav .nav-pills .show>.nav-link{
    background-color: #eee;
    color: #000;
}
.toggle.btn{
    border: 1px solid #ddd;
}
.toggle-group .toggle-on.btn{
    color: #fff !important;
}
.toggle-group .toggle-off.btn{
    background-color: #ddd;
}
.toggle-group .toggle-handle{
    background-color: #fff;
}

.product_item:hover a{
    text-decoration: underline !important;
}

.loader-box{
    position: absolute;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#eceaea;
    background-image: url(../images/loader.svg);
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.input-group-append img{
    height: 20px!important;
    width: auto!important;
}
header .navbar-brand .logo-white{
    display: block;
}
header .navbar-brand .logo{
    display: none;
}
.banner{
    padding-top:0;
}
header .navbar{
    padding:0!important;
}
header .navbar .navbar-nav a.nav-link{
    padding:0 15px!important;
    line-height: 74px!important;
    border-bottom:3px solid transparent;
    position: relative;
}
header .navbar .navbar-nav a.nav-link .badge{
    margin-top:15px!important;
}

.background-header .navbar-brand .logo-white{
    display: none;
}
.background-header .navbar-brand .logo{
    display: block;
}
.page-heading{
    padding:100px 0px;
}

.bisapay-logs-container {
    margin-top: 20px;
}

.bisapay-logs-table {
    margin-top: 20px;
}

.nav-pills > div > li > a.active {
    background-color: #008080 !important;
    color: #ffffff !important;
}

.nav-pills > div > li > a {
    background-color: #ffffff !important;
    color: #008080 !important;
}

.nav-pills > li > a:hover {
    color: #007BFC !important;
}

.nav-link-color {
    color: #132031 !important;
}

.bisapay-logs-nav-pills {
    display: flex;
    justify-content: space-between;
}

.container-card {
    background-color:#87d7bf;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 60px;
    border-radius: 15px;
    position: relative;
}

.container-search {
    margin-top: 20px;
    padding-bottom: 20px;
    width: 38%;
}

.navbar .navbar-nav .nav-link:hover{
    padding-bottom: 0;
}

/* Footer Sosial Media */
.social-media{
    float:left;
    margin-top: 35px;
}
.social-media ul{
    margin:0;
    padding:0;
}
.social-media li{
    float:left;
    margin:15px 0 30px 8px;
}
.social-media li a{
    color:#ededed;
    /* border:1px solid #ededed; */
    padding:5px 7px;
}
.social-media li a img{
    height: 25px!important;
    width: auto!important;
}
.social-media li a:hover{
    color:#ededed;
    border:1px solid #ededed;
}

/* Button Img Withdraw Topup */
.inner-card .btn{
    width: 60px;
    float: right;
}

.inner-card .btn img{
    height: 50px!important;
    margin: 10px;
}

/* Saldo Bisapay */
.saldo-bisapay{
    padding:5px;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    position: absolute;
    background-color: #ffffff;
}

.inner-card .saldo-bisapay h5{
    color: #002855;
    font-weight: bold;
}

.content-article{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.import-data {
    background-color: #ffffff !important;
    color: #008080 !important;
    border-radius: 8px;
    box-shadow: 0px 2px 1px rgba(0, 128, 128, 0.1); 
    padding: 10px; 
    font-weight: bold;
}

.terms a:hover {
    color: #0DA4C5!important;
}

.terms a {
    color: black!important; 
    font-size: 12px!important; 
    margin-top: 3px!important;
    font-family: 'poppins'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px;
}

.owl-slide button {
    font-size: 18px;
	background-color: #ffffff;
	box-shadow: 0px 2px 2px 2px rgba(0, 128, 128, 0.1);
	border: 0;
    padding: 7px;
    width: 160px;
    border-radius: 28px;
    margin-bottom: 3px;
}

.owl-slide button:hover {
	cursor: pointer;
}

/* .swiper-slide .active {
	background-color: #008080 !important;
    color: #ffffff;
} */

/* hides every element except the first */
/* .content:not(:first-child) {
	display: none;
}

.contentSection {
	display: block;
    display: flex;
    justify-content: center;
	display: grid;
} */
  

.account-profile {
    margin-top: 120px; box-shadow: 0px 2px 2px 2px rgba(0, 128, 128, 0.1);
}

.customNextBtn, .customPreviousBtn{
  float: right;
  color: #ffffff;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.customNextArticle, .customPreviousArticle{
    float: right;
    color: #ffffff;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
  }

