::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3a8a8 !important;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b3a8a8 !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b3a8a8 !important;
}
/*@font-face {
  font-family: "FontAwesomeRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesomeBrands";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome/fa-brands-400.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesomeSolid";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/fontawesome/fa-solid-900.ttf") format("truetype");
}
.fas {
  font-weight: bold !important;
  font-family: FontAwesomeSolid !important;
}
.fas:before {
  font-weight: bold !important;
  font-family: FontAwesomeSolid !important;
}
.fab {
  font-weight: normal !important;
  font-family: FontAwesomeBrands !important;
}
.fab:before {
  font-weight: normal !important;
  font-family: FontAwesomeBrands !important;
}
.far {
  font-weight: normal !important;
  font-family: FontAwesomeRegular !important;
}
.far:before {
  font-weight: normal !important;
  font-family: FontAwesomeRegular !important;
}
.fa,
.fas,
.far {
  display: inline;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
* {
  padding: 0px;
margin: 0px;
}

@media screen and (min-width: 993px) {
  header .dropdown-menu {
    background-color: #232323;
  }
  header .dropdown-menu .dropdown-item {
    color: white;
  }
  header .dropdown-menu .dropdown-item:hover {
    background-color: #f33f3f;
  }
}
@media screen and (max-width: 992px) {
  header .dropdown-menu {
    border-left: none;
    border-right: none;
  }
  header .dropdown-menu .dropdown-item {
    text-align: center;
  }
}
.content-page .red {
  color: #f33f3f;
}
.content-page .orange {
  color: #fd6903;
}
.content-page .btn.btn-black {
  font-size: 14px;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}
.content-page .btn.btn-black:hover,
.content-page .btn.btn-black:focus,
.content-page .btn.btn-black:active {
  background-color: #333333;
}
.content-page .call-to-action .inner-content {
  margin-top: 0px;
}
.content-page table.table-small tbody tr td {
  font-size: 12px;
}
.content-page .form-member .contact-form,
.content-page .custom-form-wrapper .contact-form,
.content-page .form-member .custom-form,
.content-page .custom-form-wrapper .custom-form {
  margin-top: 2rem;
  /* border: 1px solid #b5b5b5; */
  border-radius: 16px;
  padding: 2rem 1.5rem;
}
.content-page .form-member .contact-form label,
.content-page .custom-form-wrapper .contact-form label,
.content-page .form-member .custom-form label,
.content-page .custom-form-wrapper .custom-form label {
  font-size: 14px;
  color: #495057;
}
.content-page .form-member .contact-form input,
.content-page .custom-form-wrapper .contact-form input,
.content-page .form-member .custom-form input,
.content-page .custom-form-wrapper .custom-form input {
  border: 1px solid #ced4da;
  margin-bottom: 0px;
}
.content-page .form-member .contact-form select,
.content-page .custom-form-wrapper .contact-form select,
.content-page .form-member .custom-form select,
.content-page .custom-form-wrapper .custom-form select {
  font-size: 14px;
  height: 44px;
  line-height: 42px;
  color: #495057;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
}
.content-page .form-member .contact-form select option,
.content-page .custom-form-wrapper .contact-form select option,
.content-page .form-member .custom-form select option,
.content-page .custom-form-wrapper .custom-form select option {
  font-size: 14px;
  height: 44px;
  line-height: 42px;
  color: #495057;
}
.content-page .form-member .contact-form textarea,
.content-page .custom-form-wrapper .contact-form textarea,
.content-page .form-member .custom-form textarea,
.content-page .custom-form-wrapper .custom-form textarea {
  resize: none;
  border: 1px solid #ced4da;
}
.content-page .form-member .contact-form p,
.content-page .custom-form-wrapper .contact-form p,
.content-page .form-member .custom-form p,
.content-page .custom-form-wrapper .custom-form p {
  color: red;
}
.content-page .form-member .contact-form small,
.content-page .custom-form-wrapper .contact-form small,
.content-page .form-member .custom-form small,
.content-page .custom-form-wrapper .custom-form small {
  font-size: 70%;
}
.content-page .form-member .contact-form .inputset,
.content-page .custom-form-wrapper .contact-form .inputset,
.content-page .form-member .custom-form .inputset,
.content-page .custom-form-wrapper .custom-form .inputset {
  margin-bottom: 20px;
}
.content-page .form-member .contact-form .after-submit-btn,
.content-page .custom-form-wrapper .contact-form .after-submit-btn,
.content-page .form-member .custom-form .after-submit-btn,
.content-page .custom-form-wrapper .custom-form .after-submit-btn {
  margin-top: 20px;
}
.content-page .non-member .non-member-box {
  margin-top: 2rem;
  border: 1px solid #b5b5b5;
  border-radius: 16px;
  padding: 2rem 1.5rem;
}
.content-page .products .product-item .down-content h4 {
  margin-bottom: 1rem;
}
.content-page .products .product-item .down-content .price {
  color: #f33f3f;
  font-size: 14px;
  margin-bottom: 1rem;
}
.content-page .products_list {
  margin-top: 100px;
}
.content-page .products_list .product_item {
  margin-bottom: 30px;
}
.content-page .products_list .product_item img {
  width: 100%;
  overflow: hidden;
}
.content-page .products_list .product_item .thumb-container {
  position: relative;
}
.content-page .products_list .product_item .down-content {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 30px;
  text-align: left;
}
.content-page .products_list .product_item .down-content h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 8px;
}
.content-page .products_list .product_item .down-content span {
  display: block;
  font-size: 13px;
  color: #f33f3f;
  font-weight: 500;
  margin-bottom: 20px;
}
.content-page .products_list .product_item .down-content span.price {
  color: #f33f3f;
  font-size: 14px;
  margin-bottom: 1rem;
}
.content-page .products_list .product_item .down-content p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-page .products_list .product_item .down-content .filled-button {
  margin-top: 20px;
  padding: 5px 20px;
}
.content-page .product-single {
  margin-top: 50px;
}
.content-page .product-single .container .row {
  padding-bottom: 0px;
}
.content-page .product-single .container .row .left-content {
  margin-bottom: 2rem;
}
.content-page .product-single img {
  width: 100%;
  overflow: hidden;
}
.content-page .product-single h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 20px;
}
.content-page .product-single p {
  margin-bottom: 15px;
}
.content-page .product-single p + p {
  margin-top: 10px;
}
.content-page .product-single ul {
  margin-bottom: 25px;
}
.content-page .product-single ul li {
  margin-bottom: 15px;
  list-style: disc;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
}
.content-page .product-single ul li a {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 300;
  transition: all .3s;
  position: relative;
  padding-left: 13px;
}
.content-page .product-single ul li a:before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: #4a4a4a;
  position: absolute;
  left: 0;
  transition: all .3s;
  top: 8px;
}
.content-page .product-single ul li a:hover {
  color: #f33f3f;
}
.content-page .product-single ul li a:hover:before {
  background-color: #f33f3f;
}
.content-page .buylink .close-button {
  float: right;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 2.25rem;
}
.content-page .buylink .close-button:active,
.content-page .buylink .close-button:hover,
.content-page .buylink .close-button:focus {
  border: none;
  outline: none;
  background: none;
}
.content-page .buylink ul.accordion {
  margin-top: 30px;
  margin-left: 0px;
}
.content-page .buylink ul.accordion li {
  list-style: none;
  margin-left: 0px;
}
.content-page .buylink ul.accordion li::marker {
  display: none;
}
.content-page .buylink ul.accordion li a {
  font-size: 16px;
  font-weight: 400;
  padding-left: 0px;
}
.content-page .buylink ul.accordion li a:before {
  display: none;
}
.content-page .buylink ul.accordion li a:hover {
  background-color: #e0e0e0!important;
}
.content-page .buylink ul.accordion li a img {
  height: 30px;
}
.content-page .buylink ul.accordion li .content ul.marketplace {
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 10px;
}
.content-page .buylink ul.accordion li .content ul.marketplace li {
  display: inline-block;
  margin-right: 3px;
  line-height: 0;
  padding: 0;
}
.content-page .buylink ul.accordion li .content ul.marketplace li:last-child {
  margin-right: 0px;
}
.content-page .buylink ul.accordion li .content ul.marketplace li a {
  margin-bottom: 0;
  width: auto;
  height: 55px;
  display: inline-block;
  line-height: 50px;
  background-color: #eee;
  color: #121212;
  /* font-size: 18px; */
  text-align: center;
  transition: all .3s;
  padding-left: 0;
}
.content-page .buylink ul.accordion li .content ul.marketplace li a img {
  width: auto;
}
.content-page .buylink ul.accordion li .content ul.marketplace li a:hover {
  background-color: #c5c5c5;
}
.content-page .buylink ul.accordion li .content ul.marketplace li a:before {
  content: '';
  width: 0px;
  height: 0px;
  display: none;
  background-color: transparent;
  position: absolute;
  left: 0;
  transition: all .3s;
  top: 0px;
}
.content-page .health-check {
  margin-top: 2rem;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
}
.content-page .health-check .table-status-kesehatan {
  margin: 1rem 0;
}
.content-page .health-check .tanggal {
  font-style: italic;
  margin-bottom: 0.5rem;
}
.content-page .health-check .title-item {
  font-size: 16px;
  font-weight: 500;
}
.content-page .health-check .icon-column {
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}
.content-page .health-check .buttons-top {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .content-page .health-check .buttons-top {
    text-align: left;
  }
}
.content-page .health-check .nav-tabs .nav-link,
.content-page .health-check .nav .nav-link,
.content-page .health-check .nav-tabs .nav-item,
.content-page .health-check .nav .nav-item {
  color: #f33f3f;
}
.content-page .health-check .nav-tabs .nav-link.active,
.content-page .health-check .nav .nav-link.active,
.content-page .health-check .nav-tabs .nav-item.active,
.content-page .health-check .nav .nav-item.active {
  color: white;
  background: #f33f3f;
}
.content-page .health-check .nav-tabs .nav-link.disabled,
.content-page .health-check .nav .nav-link.disabled,
.content-page .health-check .nav-tabs .nav-item.disabled,
.content-page .health-check .nav .nav-item.disabled {
  color: #6c757d;
}
.content-page .health-check .tab-content .tab-pane {
  padding: 1rem;
}
.content-page .health-check .nav-content {
  padding: 1rem 0;
}
footer .inner-content {
  float: right;
  margin-top: 0px;
}
.pagination span {
  padding: 0px 8px;
  border: 1px solid #cdced0;
  background-color: #cdced0;
  margin-right: 0.5rem;
}
.pagination span.curlink {
  background-color: white;
}
.pagination span a {
  color: #435c70;
}
.pagination span:hover {
  background-color: white;
}