.onboard-text-big {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  font-family: 'Poppins';
  margin-top: 30px;
}

.onboard-text-medium {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  font-family: 'Poppins';
  margin-top: 30px;
}

.onboard-text-small {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  font-family: 'Poppins';
}

.onboard-text-small p {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  font-family: 'Poppins';
}

.onboard-header {
  padding-top:50px;
}

.onboard-modal .onboard-media {
  padding-top: 15px;
  text-align: center;
}

.onboard-modal .onboard-media img {
  margin: 0px auto;
}

.onboard-modal.animated .onboard-media {
  opacity: 0;
  -webkit-transform: translateY(80px) scale(0.8);
          transform: translateY(80px) scale(0.8);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.1, 0.5, 1.35);
  transition: all 0.5s cubic-bezier(0.25, 1.1, 0.5, 1.35);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.onboard-modal.show .onboard-media {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.onboard-modal button.close {
  position: absolute;
  top: 5px;
  left: 20.7%;
  float: none;
  z-index: 999;
  opacity: 0.5;
  text-shadow: none;
}

.onboard-modal button.close .close-label {
  font-weight: bold;
  color:#A0A0A0; 
  font-size:20px;
  font-family: 'Poppins';
}

/* Devices Desktop */
@media (min-width: 1200px){
  .onboard-modal .slick-next, .onboard-modal .slick-prev {
    border: none;
    background-color: #008080;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    height: 25px;
    width: 95px;
    right: 0px; 
    z-index: 999;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .onboard-modal .slick-next.slick-disabled, .onboard-modal .slick-prev.slick-disabled {
    opacity: 0;
  }
  
  .onboard-modal .slick-next:focus, .onboard-modal .slick-prev:focus {
    outline: none;
  }
  
  .onboard-modal .slick-next {
    right: 20px;
  }
  
  .onboard-modal .slick-prev {
    left: 20px;
  }
  .onboard-modal .slick-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0px;
    margin: 0px;
  }
  
  .onboard-modal .slick-dots li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
  }
  
  .onboard-modal .slick-dots li button {
    font-size: 0px;
    background-color: #008080;
    width: 10px;
    height: 10px;
    opacity: 0.2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .onboard-modal .slick-dots li button:hover {
    opacity: 1;
  }
  
  .onboard-modal .slick-dots li button:focus {
    outline: none;
  }
  
  .onboard-modal .slick-dots li.slick-active button {
    opacity: 1;
  }
  
  .onboard-modal .onboard-slide:focus {
    outline: none;
  }

}

/* Devices Ipad */
@media (max-width: 1024px){
  .onboard-modal .slick-next, .onboard-modal .slick-prev {
    border: none;
    background-color: #008080;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    height: 25px;
    width: 95px;
    right: 0px; 
    z-index: 999;
    cursor: pointer;
    letter-spacing: 1px;
  }

  .onboard-modal .slick-next.slick-disabled, .onboard-modal .slick-prev.slick-disabled {
    opacity: 0;
  }
  
  .onboard-modal .slick-next:focus, .onboard-modal .slick-prev:focus {
    outline: none;
  }
  
  .onboard-modal .slick-next {
    right: 20px;
  }
  
  .onboard-modal .slick-prev {
    left: 20px;
  }
  .onboard-modal .slick-dots {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0px;
    margin: 0px;
  }
  
  .onboard-modal .slick-dots li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
  }
  
  .onboard-modal .slick-dots li button {
    font-size: 0px;
    background-color: #008080;
    width: 10px;
    height: 10px;
    opacity: 0.2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .onboard-modal .slick-dots li button:hover {
    opacity: 1;
  }
  
  .onboard-modal .slick-dots li button:focus {
    outline: none;
  }
  
  .onboard-modal .slick-dots li.slick-active button {
    opacity: 1;
  }
  
  .onboard-modal .onboard-slide:focus {
    outline: none;
  }
  
}

/* Devices Mobile */
@media (max-width: 480px){
  .onboard-modal .slick-next, .onboard-modal .slick-prev {
    border: none;
    background-color: #008080;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 0.9rem;
    color: #ffffff;
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    right: 0px; 
    height: 25px;
    width: 95px;
    z-index: 999;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .onboard-modal .slick-next.slick-disabled, .onboard-modal .slick-prev.slick-disabled {
    opacity: 0;
  }
  
  .onboard-modal .slick-next:focus, .onboard-modal .slick-prev:focus {
    outline: none;
  }
  
  .onboard-modal .slick-next {
    right: 15px;
  }
  
  .onboard-modal .slick-prev {
    left: 15px;
  }
  .onboard-modal .slick-dots {
    position: fixed;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0px;
    margin: 0px;
  }
  
  .onboard-modal .slick-dots li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
  }
  
  .onboard-modal .slick-dots li button {
    font-size: 0px;
    background-color: #008080;
    width: 10px;
    height: 10px;
    opacity: 0.2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .onboard-modal .slick-dots li button:hover {
    opacity: 1;
  }
  
  .onboard-modal .slick-dots li button:focus {
    outline: none;
  }
  
  .onboard-modal .slick-dots li.slick-active button {
    opacity: 1;
  }
  
  .onboard-modal .onboard-slide:focus {
    outline: none;
  }
  
}
