/* select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    padding: 0 4px;
    margin:0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 15px;
    padding-right: 8px;
}
.select2-container .select2-search--inline {
    display: inline-flex;
}

/* LOADING */
body.loading:before{
    content: "";
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(255,255,255,0.9);
    z-index: 99998;
}
body.loading:after{
    content: "";
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height:50px;
    border:2px solid #187FE0;
    border-top:2px solid transparent;
    border-radius: 50%;
    z-index: 99999;
    animation:preload .6s linear infinite;
}
@keyframes preload{
    0%{
        transform: translate(-50%,-50%) rotate(0deg)
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

/*FAST SELECT BOOTSTRAP FIX CSS*/
.form-group .fstMultipleMode .fstQueryInput,
.form-group .fstSingleMode .fstQueryInput,
.form-group .fstResultItem,
.form-group .fstChoiceItem,
.form-group .fstToggleBtn,
.form-group .fstNoResults
{
	font-size: .875rem;
}
.form-group .fstElement{
	font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #8898aa;
    transition: all .15s ease-in-out;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
.form-group .fstToggleBtn{
	padding: .625rem .75rem;
	height: calc(1.5em + 1.25rem + 5px);
    transition: all .15s ease-in-out;
    display: flex;
    align-items: center;
}

.form-group .fstElement,
.fstSingleMode .fstQueryInput{
	border: 1px solid #dee2e6;
	border-radius: .25rem;
}

/*active field*/
.form-group .fstElement.fstActive{
    border-radius: .25rem .25rem 0 0;
}
.form-group .fstElement.fstActive .fstResults{
    border-radius: 0 0 .25rem .25rem;
}
.form-group .fstElement.fstActive,
.form-group .fstElement.fstActive .fstResults,
.form-group .fstElement.fstActive .fstControls{
    border-color: #5e72e4;
    outline: 0;
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(50, 50, 9, 0), 3px 4px 8px rgba(94, 114, 228, .1);
}
.form-group .fstElement.fstActive .fstControls{
	border-right-color: #5e72e4;
    border-left-color: #5e72e4;
    border-top-color: #dee2e6;
}

/*JQUERY VALIDATION*/
label.error{
    color: red;
    font-size: .8em;
}
.fstElement label.error{
    font-size: 0.73em;
    position: absolute;
}

.btn-upload-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
}
.bg-vertical-center {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-remove-img {
    top: 10%;
    right: 10%;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    background-color: #eee;
    opacity: 0.8;
}
.btn-remove-img:hover {
    color: #000;
    opacity: 1;
}
.form-check label.error{
    position: absolute;
    width: 800px;
    top: 30px;
}
.fstLoading:before{
    content: "";
    background-image: url(../../images/loader.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 20px;
    margin-top: 13px;
    margin-left: 15px;
}
.dataTable .btn:disabled:hover{
    transform: unset;
    box-shadow: unset;
}
.custom-radio label.error{
    position: absolute;
    width: 500px;
    margin-top: 25px;
}
.input-group label.error{
    position: absolute;
    transform: translate(0, 50px);
}

/*ql*/
.ql-container.ql-snow{
    border: none !important;
}

/*bootstrap toggle*/
.toggle-on:not(:last-child),
.toggle-off:not(:last-child){
    margin-right: 0;
}

/*helpers*/
.bg-selected-row{
    background-color: rgba(17, 205, 239, 0.2);
    font-weight: bold;
}

.custom-tabs .nav-link{
    color: #ced4da;
}

.cart-dashboard{
    cursor: pointer;
}
.cart-dashboard:hover{
    -webkit-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 26px -2px rgba(0,0,0,0.75);
}
.table-healthy-status p{
    font-size: .8125rem;   
    margin-bottom: 0;
}

.btn-decrease,
.btn-increase{
    cursor: pointer;
}
.btn-decrease :hover,
.btn-increase :hover{
    background-color: #eee;
}